body{
    margin: 0;
}

/*=== Seções globais ===*/
.secao{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0c0c0c;
    font-family: tahoma;

}

/*=== Seções em destaque ===*/

.span{
    font-weight: bold;
}

.texto-amarelo{
    color: #ffea00;
}
.texto-branco{
    color: #ffffff;
}

/*=== Seção Topo ===*/
.link-topo{
 
    font-size: 18px;
    color:#e7c609;
    border-bottom: 2px solid #e7c609 ;
    font-weight: bold;
    margin:10px 10px 20px 10px;
    text-decoration: none;    
}


/*=== Seção Banner ===*/
.banner{
    background-color: rgb(31, 28, 3);
    background-image: url('../img/img6.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 600px;
}
.secao .banner{
    width: 100%;
}
/*=== Seção Sobre ===*/
.sobre{
    width: 100%;
}
h1{
    color: #e7c609;
    font-weight: bold;
    margin-bottom: auto;
}
h2{
    
    margin-top: 100px;
    color: #4b4405;
}
.lista-sobre{
    color:#9c8d06;
    line-height: 55px;
    font-size: 18px;
    text-align: left;
    margin: 0 auto;
    padding: 50px 10px;
}

/*=== Seção Divulgação ===*/
.secao-divulgacao{
    background-image:url('../img/divulgação.jpg');
    background-attachment: fixed;
    height: 450%;
}
/*=== Seção Produtos ===*/
.produtos{
    background-color: #0c0c0c;
  
}
.produtos img{
    width: calc(100% /3 ) - 450px;
    margin: 5px 5px;
    height: 250px;
    

    border: 2px solid #e7c609;
}
h3{
    font-size: 28px;
    color:#e7c609;
}


/*=== Seção contato ===*/
.contato{
    color: #e7c609;
}
.lista-contato{
    color: #c5ae45;
    font-size: 18px;
    list-style: none;
    line-height: 36px;
}
.contato a{
    font-size: 24px;
    color:#fafafa;
    border: 2px solid #e7c609 ;
    border-radius: 60px;
    font-weight: bold;
    margin:0 10px 0 10px;
    text-decoration: none;
    background-color: #e7c609;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
   
    
}
