*{
    margin: 0;
}
body{
    height: 100%;
}

/*=== Seções globais ===*/
.secao{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0c0c0c;
    font-family: tahoma;

}
.limita-largura {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
}


/*=== Seções em destaque ===*/

.span{
    font-weight: bold;
}

.texto-amarelo{
    color: #ffea00;
}
.texto-branco{
    color: #ffffff;
}

/*=== Seção Topo ===*/
.link-topo{
 
    font-size: 18px;
    color:#e7c609;
    border-bottom: 2px solid #e7c609 ;
    font-weight: bold;
    margin:10px 10px 20px 10px;
    text-decoration: none;    
}


/*=== Seção Banner ===*/
.banner{
    
    background-image: url('../img/img6.jpg');
    background-attachment: fixed;
    background-position: 50%;
    min-height: 600px;
}
/*=== Seção Sobre ===*/
.sobre{
    width: 100%;
}
h1{
    position: absolute;
    top: 160px;
    left: 70px;
    font-size: 90px;
    color: #e7c609;
    font-weight: bold;
    margin-bottom: auto;
    width: 50%;
}

.lista-sobre{
    width: 100%;
    color:#9c8d06;
    line-height: 55px;
    font-size: 18px;
    text-align: left;
    margin: 0 auto;
    padding: 50px 10px;
}
.container{
    position: relative;
}

/*=== Seção Divulgação ===*/
.secao-divulgacao{
    background-image: url('../img/divulgação.jpg');
    background-attachment: fixed;
    background-position: 50%;
    height: 250px;
    
}
/*=== Seção Produtos ===*/
.produtos{
    background-color: #0c0c0c;
  
}
.produtos img{
    margin: 5px 5px;
    height: 250px;
    

    border: 2px solid #e7c609;
}
h3{
    font-size: 28px;
    color:#e7c609;
}


/*=== Seção contato ===*/
.contato{
    color: #e7c609;
}
.lista-contato{
    color: #c5ae45;
    font-size: 18px;
    list-style: none;
    line-height: 36px;
    margin-bottom: 50px;
}
.contato a{
    font-size: 24px;
    color:#0a0000;
    border: 2px solid #e7c609 ;
    border-radius: 60px;
    font-weight: bold;
    text-decoration: none;
    background-color: #e7c609;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
   
    
}