body{
    margin: 0;
}

/*=== Seções globais ===*/
.secao{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.paragrafo{
    font-size: 18px;
    text-align: justify;
    width: 800px;
    margin: 10px auto 10px auto;
    color:#0c0c0c
}


/*=== Seções em destaque ===*/
.span{
    font-weight: bold;
}

.texto-amarelo{
    color: #bdae10;
}
.texto-branco{
    color: #ffffff;
}

/*=== 1ª seção ===*/
.topo{
    background-color: rgb(31, 28, 3);
}
.topo img{
    width: 150px;
    border-radius: 100px;
}
.link-topo{
    font-size: 18px;
    color:#e7c609;
    border-bottom: 2px solid #e7c609 ;
    font-weight: bold;
    margin:0 10px 0 10px;
  
    text-decoration: none;    
}
.topo p{
    padding-top: 60px;
    
    text-align: center;
}

/*=== 3ª seção ===*/
.sobre img{
    width: 400px;
}
h1{
    color: #e7c609;
    font-weight: bold;
    margin-bottom: auto;
}
h2{
    margin-top: 10px;
    color: #4b4405;
}

/*=== 4ª seção ===*/
.produtos{
    background-color: rgb(31, 28, 3);
}
.paragrafo-destaque{
    font-size: 18px;
    text-align: justify;
    width: 800px;
    margin: 10px auto 10px auto;
    color: #ffffff;

}
.produtos img{
    width:800px;
    border: 2px solid #e7c609;
}
h3{
    font-size: 28px;
}


/*=== 5ª seção ===*/
.contato{
    color: #e7c609;
}
.lista-contato{
    color: #0c0c0c;
    font-size: 18px;
    list-style: none;
    line-height: 36px;
}
.contato a{
    font-size: 24px;
    color:#fafafa;
    border: 2px solid #e7c609 ;
    border-radius: 60px;
    font-weight: bold;
    margin:0 10px 0 10px;
    text-decoration: none;
    background-color: #e7c609;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}
